visual studio/*
build/base/*
build/ltmain.sh
build/autom4te.cache/*
build/aclocal.m4
build/config.h.in
build/config.guess
build/config.sub
build/install-sh
build/missing
build/depcomp
build/Makefile.in
build/config.log
build/configure
build/rogue-Doodad.o
build/config.status
build/.deps
build/.deps/*
build/rogue-Entity.o
build/Makefile
build/config.h
build/stamp-h1
build/rogue-Inventory.o
build/libtool
build/rogue-Player.o
build/rogue-DoodadObject.o
build/rogue-EntityObject.o
build/rogue-LootObject.o
build/rogue-ObjectManager.o
build/rogue-RoomObject.o
build/rogue-Equippable.o
build/rogue-Item.o
build/rogue-BaseApplication.o
build/rogue-main.o
build/rogue-RoomGenerator.o
build/rogue-Room.o
build/rogue-World.o
build/rogue-Zone.o
build/.libs
build/rogue
build/Ogre.log
build/ogre.cfg
build/CEGUI.log
build/data/save/*
build/data/hiscores.txt
